[include]
    # path = ~/.gitconfig.local

[pull]
    ff = only

[push]
    default = current

[fetch]
    prune = true

[core]
    # hooksPath = ~/.git_global_hooks
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Daniel Enrico BOTTA
	email = 50495900+p4xx07@users.noreply.github.com
