raycast/
tmux/.tmux/plugins/tmux
tmux/.tmux/plugins/tmux-sensible
tmux/.tmux/plugins/tmuxifier
tmux/.tmux/plugins/vim-tmux-navigator
.DS_Store
tmux/.tmux/plugins
nvim/.config/nvim/nvim-pack-lock.json
git/.gitconfig.local
zsh/nvim.log
zsh/.zsh_aliases.local
