""" Indenting
set autoindent
set noexpandtab
set tabstop=4
set shiftwidth=4

""" Editing and Reloading the Config
set clipboard+=unnamed
set clipboard+=ideaput
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

" Replace Delete without yanking
nnoremap <Leader>d "_d
vnoremap <Leader>d "_d
nnoremap <Leader>D "_d
vnoremap <Leader>D "_d
nnoremap <Leader>p "_dP
vnoremap <Leader>p "_dP

""" The Escape button
map <C-c> <Esc>
"""inoremap jj <Esc>

""" The Leader Key
let mapleader=" "

""" Distraction Free Mode
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>

""" Terminal
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

""" Extract
nnoremap <Leader>ei :action ExtractInterface<CR>

""" Navigation
nnoremap <c-E> :action SplitVertically<CR>
nnoremap <c-H> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap H gT
nnoremap L gt
nnoremap <Leader>q :action CloseContent<CR>
nnoremap <Leader>qa :action CloseAllEditors<CR>

nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap n nzzzv
nnoremap N Nzzzv

""" Editing source code
set ideajoin
set idearefactormode=keep
vnoremap < <gv
vnoremap > >gv
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>
nnoremap <leader>c :action CommentByLineComment<CR>
nnoremap <leader>r :action Replace<CR>
nnoremap <Leader>=  :action ReformatCode<CR>
nnoremap <leader>o :action OptimizeImports<CR>
nnoremap <leader>l :action RecentLocations<CR>
nnoremap <leader>h  :action LocalHistory.ShowHistory<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap <leader>s :write<CR>

""" Searching and Source Code Navigation
set incsearch
set ignorecase
set smartcase
nnoremap <c-/> :action FindInPath<CR>
""" nnoremap <c-a> :action GotoAction<CR>
nnoremap <c-f> :action GotoFile<CR>
nnoremap <leader>u :action FindUsages<CR>
nnoremap <leader>s :action GotoRelated<CR>
nnoremap <leader>h :action CallHierarchy<CR>
nnoremap <leader>b :action ShowNavBar<CR>
nnoremap <c-s> :action FileStructurePopup<CR>
nnoremap <c-o> :action GotoSymbol<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gp :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>

""" Tool windows
nnoremap <c-p> :action JumpToLastWindow<CR>
nnoremap <c-h> :action HideAllWindows<CR>

""" Running and Debugging
nnoremap ,r :action ContextRun<CR>
nnoremap ,c :action RunClass<CR>
nnoremap ,f :action ChooseRunConfiguration<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,u :action Rerun<CR>
nnoremap ,f :action RerunFailedTests<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,d :action ContextDebug<CR>
nnoremap ,n :action ActivateDebugToolWindow<CR>
nnoremap ,R :action RunCurrentSession<CR>

""" Number

set number relativenumber


""" PLUGS -> https://betterprogramming.pub/the-essential-ideavim-plugins-f939b4325180?gi=3d32b1385467

""" Easy Motion
Plug 'easymotion/vim-easymotion'
map <leader>F <Plug>(easymotion-s)
map <leader>f <Plug>(easymotion-f)

""" NERDTree
Plug 'preservim/nerdtree'
map <c-t>   :NERDTree<CR>

""" Surround
Plug 'tpope/vim-surround'

""" Multi-Cursor
Plug 'terryma/vim-multiple-cursors'
